.prime-air-about-wrapper {
  max-width: 100% !important;
  padding: 0 !important;
}

.section:has(.prime-air-about) {
  max-width: 100% !important;
  padding: 0 !important;
}

.prime-air-about {
  --block-bg: rgb(6, 120, 255);
  --block-text: #fffefe;
  --block-padding: 16px 0 48px;

  background: var(--block-bg);
  color: var(--block-text);
  padding: var(--block-padding);
  text-align: center;
}

.prime-air-about h2 {
  font-size: 2rem;
  font-weight: 900;
  color: var(--block-text);
  margin: 0 0 0.5em;
}

.prime-air-about video {
  width: 100%;
  max-width: 620px;
  height: 350px;
  display: block;
  margin: 0 auto;
}

main .prime-air-about .button-container {
  display: block;
  text-align: center;
}

main .prime-air-about a.button:any-link {
  background: none;
  border: none;
  color: var(--block-text);
  font-size: inherit;
  font-weight: inherit;
  padding: 0;
  margin: 0;
  text-decoration: none;
  cursor: default;
}
